.nav__link {
  text-decoration: none;
  padding-left: 27px;
  font-family: PTSans Regular, sans-serif;
  font-size: 16px;
  color: rgb(48, 48, 48);
}

.nav__link::after {
  content: '>';
  position: absolute;
  right: 21px;
  top: 11px;
}