.menu__item {
  display: flex;
  align-items: center;
}

.menu_type_about>.menu__item {
  margin-right: 2.9em;

}

.menu_type_about>.menu__item:last-of-type {
  margin-right: 0;
}

.menu_type_info .menu__item {
  margin-right: 2em;
}

.menu_type_info>.menu__item:last-of-type {
  margin-right: 0;
}

.menu_type_contacts .menu__item {
  margin-right: 3.3em;
}

.menu_type_contacts>.menu__item:last-of-type {
  margin-right: 0;
}